*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-color: #033D75;
    color: white;
    text-decoration-style: bold;
    border-bottom: 2px solid #8DDDEF;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.first-section{
    padding-left: 2rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
    font-size: 12px;
}

.first-section h2{
    font-size: 22px;
}

.dogs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items:flex-start;
    margin-top: 5px;
    margin-right: .5rem;
    margin-bottom: 1rem;
}

.characteristic-list{
    list-style-type: none;
    display: flex;
    width: 200px;
    align-content: flex-start;
    flex-wrap: wrap;
    font-size: 10px;
}

.character-value{
    border-radius: 10px;
    padding: 3px;
    background-color: #8DDDEF;
    margin: 1px;
}

.forms-box{
    background-color:#F0EDEE;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-right: 1px;
}

.forms{
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
}

.forms-box-heading{
 font-style: bold;
 font-size: 16px;
}

 .form-heading{
     font-size: 14px;
 }

.dog_image{
    width: 275px;
}

.nav{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
}

.nav-image{
    display:flex;
    align-content: center;
}
.content{
    margin-left: 2rem;
}
.section{
    margin-right: 3rem;
}
.option{
    margin-top: 5px;
}